@font-face {
  font-family: 'TT Commons';
  src: url("https://specials-f378ef5.gcdn.co/Fonts/TTCommons/black-italic.ttf") format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'TT Commons';
  src: url("https://specials-f378ef5.gcdn.co/Fonts/TTCommons/demibold.ttf") format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'TT Commons';
  src: url("https://specials-f378ef5.gcdn.co/Fonts/TTCommons/medium.ttf") format('truetype');
  font-weight: 500;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #d9f5ff;
  background-image: url('images/bg.png');
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.bn {
  font-family: 'TT Commons', sans-serif;
  font-size: 16px;
  line-height: normal;
  padding: 16px 0;
}

.winning {
  background-image: url('images/winning-animation.gif');
}

.canela-canela {
  background-image: url('images/canela-canela.gif');
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #fff;
}

.bn--dtf {
  align-items: end;
  display: flex;
  height: 100vh;
}

.bn__container {
  align-items: center;
  background: rgba(28, 43, 86, 0.8);
  border-radius: 205px;
  box-sizing: border-box;
  display: flex;
  height: 300px;
  justify-content: space-between;
  margin-bottom: 50px;
  margin: 0 auto 50px;
  max-width: 100%;
  max-width: 90%;
  padding: 0 155px;
  width: 1000px;
}

.bn__drop {
  margin-left: 45px;
}

.bn__info {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  align-items: center;
  display: flex;
  flex-direction: column;
  user-select: none;
}

.bn__title {
  color: #fff;
  font-size: 28px;
  font-style: italic;
  font-weight: 900;
  letter-spacing: -0.02em;
  line-height: 1em;
  margin-bottom: 12px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
}

.bn__title>div:first-child {
  position: relative;
  z-index: 2;
}

.bn__title>div:last-child {
  color: #000;
  left: 3px;
  position: absolute;
  top: 4px;
  white-space: nowrap;
  z-index: 1;
}

.bn__button {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  align-items: center;
  background-color: #288cc7;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-size: 18px;
  font-weight: 500;
  height: 40px;
  overflow: hidden;
  padding: 0 14px;
  position: relative;
  transition: box-shadow 0.1s;
  user-select: none;
}

.bn__button::before {
  -webkit-animation: vkBnBlink 4s linear infinite;
  animation: vkBnBlink 4s linear infinite;
  background-color: rgba(255, 255, 255, 0.4);
  content: '';
  height: 100%;
  left: -30px;
  position: absolute;
  top: 0;
  transform: skew(-10deg);
  width: 20px;
}

@-webkit-keyframes vkBnBlink {

  0%,
  10.1%,
  100% {
    left: -30px;
    opacity: 0;
  }

  0.1%,
  10% {
    opacity: 1;
  }

  10%,
  99.9% {
    left: calc(100% + 30px);
  }
}

@keyframes vkBnBlink {

  0%,
  10.1%,
  100% {
    left: -30px;
    opacity: 0;
  }

  0.1%,
  10% {
    opacity: 1;
  }

  10%,
  99.9% {
    left: calc(100% + 30px);
  }
}

.bn__button:hover {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

@media (hover: none),
(hover: on-demand) {
  .bn__button:hover {
    box-shadow: none;
  }
}

.bn-drop {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 15px;
  position: relative;
  text-align: center;
  width: 180px;
}

.bn-drop__q {
  align-items: center;
  bottom: 0;
  color: #168cbd;
  display: flex;
  font-size: 70px;
  font-weight: 500;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 0.2s;
}

.bn-drop__q img {
  width: 80px;
}

.bn-drop__q.hide {
  opacity: 0;
  transition: opacity 0;
}

.bn-drop__info {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 208px;
  opacity: 0;
  padding: 20px;
  position: relative;
  transition: opacity 0;
  z-index: 2;
}

.bn-drop__info.show {
  opacity: 1;
  transition: opacity 0.2s;
}

.bn-drop__icon {
  display: block;
  height: 40px;
  margin: 0 auto 16px;
  width: 40px;
}

.bn-drop__title {
  font-size: 18px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.02em;
  line-height: 23px;
  text-align: center;
  text-transform: uppercase;
}

.bn-spinwheel {
  opacity: 0.9;
  position: relative;
}

.bn-spinwheel__rim {
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 2;
}

.bn-spinwheel__rim>svg {
  display: block;
  width: 100%;
}

.bn-spinwheel__rim>svg>circle {
  fill: #fff;
}

.bn-spinwheel__pin {
  bottom: 0;
  height: 35px;
  margin: auto;
  position: absolute;
  right: -28px;
  top: 0;
  width: 38px;
  z-index: 3;
}

.bn-spinwheel__pin>svg {
  display: block;
  width: 100%;
}

.bn-spinwheel__logo {
  align-items: center;
  background: #fbbd1b;
  border-radius: 50%;
  bottom: 0;
  cursor: pointer;
  display: flex;
  height: 48px;
  justify-content: center;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 48px;
  z-index: 2;
}

.bn-spinwheel__logo>svg {
  display: block;
  width: 100%;
}

.bn-spinwheel__drum {
  border-radius: 100%;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.bn-spinwheel__drum-inner {
  background-color: #fff;
  border-radius: 100%;
  overflow: hidden;
  transform: rotate(18deg);
  transition: transform 2s linear;
  width: 220px;
}

.bn-spinwheel__drum-inner::before {
  content: '';
  display: block;
  padding-top: 100%;
}

.bn-spinwheel__sector {
  height: 50%;
  left: 50%;
  position: absolute;
  top: 0;
  transform-origin: bottom center;
  transform: translate3d(-50%, 0, 0);
  width: 68px;
  z-index: 1;
}

.bn-spinwheel__sector::before {
  border-color: #f1f1f1 transparent transparent transparent;
  border-style: solid;
  border-width: 104px 34px 0 34px;
  content: '';
  height: 0;
  left: 0;
  position: absolute;
  top: 0;
  width: 0;
}

.bn-spinwheel__sector:last-child::before {
  border-color: #000 transparent transparent transparent;
}

.bn-spinwheel__sector:last-child div {
  color: #fff;
  font-size: 11px;
}

.bn-spinwheel__sector:nth-child(odd)::before {
  border-top-color: #168cbd;
}

.bn-spinwheel__sector:nth-child(2) {
  transform: translate3d(-50%, 0, 0) rotate(36deg);
}

.bn-spinwheel__sector:nth-child(3) {
  transform: translate3d(-50%, 0, 0) rotate(72deg);
}

.bn-spinwheel__sector:nth-child(4) {
  transform: translate3d(-50%, 0, 0) rotate(108deg);
}

.bn-spinwheel__sector:nth-child(5) {
  transform: translate3d(-50%, 0, 0) rotate(144deg);
}

.bn-spinwheel__sector:nth-child(6) {
  transform: translate3d(-50%, 0, 0) rotate(180deg);
}

.bn-spinwheel__sector:nth-child(7) {
  transform: translate3d(-50%, 0, 0) rotate(216deg);
}

.bn-spinwheel__sector:nth-child(8) {
  transform: translate3d(-50%, 0, 0) rotate(252deg);
}

.bn-spinwheel__sector:nth-child(9) {
  transform: translate3d(-50%, 0, 0) rotate(288deg);
}

.bn-spinwheel__sector:nth-child(10) {
  transform: translate3d(-50%, 0, 0) rotate(324deg);
}

.bn-spinwheel__span {
  font-size: 16px;
  margin-top: 30px;
  text-align: center;
  transform: rotate(-90deg);
  z-index: 1;
}